In [1]:
%load_ext autoreload
%autoreload

import pandas as pd
import numpy as np

pd.options.display.float_format = "{:.2f}".format
np.set_printoptions(precision=4)

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
%matplotlib inline

import featuretools as ft
import featuretools.variable_types as vtypes

In [2]:
train = pd.read_csv('/home/dissertation/data/train_v2.csv', 
                          dtype = {'msno' : 'category'})

members = pd.read_csv('/home/dissertation/data/members_v3.csv',
                            dtype={'registered_via' : np.uint8,
                                   'gender' : str,
                                   'city' : 'category',
                                   'registered_via' : 'category'})

members['registration_init_time_dt'] = pd.to_datetime(members['registration_init_time'], 
                                                            format='%Y%m%d', errors='ignore')

members = members[members.bd.between(0,90)]


members['gender'] = members['gender'].fillna(value='unknown')

## Next load in the transactions data
transactions = pd.read_csv('/home/dissertation/data/transactions.csv',
                                 dtype = {'payment_method' : 'category',
                                          'payment_plan_days' : np.uint8,
                                          'plan_list_price' : np.uint8,
                                          'actual_amount_paid': np.uint8,
                                          'is_auto_renew' : np.bool,
                                          'is_cancel' : np.bool})

# Difference between listing price and price paid
transactions['price_difference'] = transactions['plan_list_price'] - transactions['actual_amount_paid']

### IS THIS OK?
transactions.loc[transactions.payment_plan_days == 0, 'payment_plan_days'] = 30

# Planned price per day
transactions['planned_daily_price'] = transactions['plan_list_price'] / transactions['payment_plan_days']

# Actual price per day
transactions['daily_price'] = transactions['actual_amount_paid'] / transactions['payment_plan_days']

In [3]:
#train = train.sample(1000)
print(len(train))

train.head(10)

970960

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1
5  ibIHVYBqxGwrSExE63/omeDD99M5vYB3CN2HzkEY+eM=         1
6  kVmM8X4iBPCOfK/m1l3KR7LjFoxD1EcKYCc76F5IAWw=         1
7  moRTKhKIDvb+C8ZHOgmaF4dXMLk0jOn65d7a8tQ2Eds=         1
8  dW/tPZMDh2Oz/ksduEctJbsz0MXw3kay/1AlZCq3EbI=         1
9  otEcMhAX3mU4gumUSogqgteN3oaNmhdmTkoof2iRYEE=         1

### Split the data into the same MSNO instances as the base dataset

In [6]:
## Read the data so the same MSNO instances are split re: the base dataset

store = pd.HDFStore('/home/dissertation/data/msno_train_test_split.h5')
train_msno = store['train_msno']
test_msno = store['test_msno']
store.close()

print(train_msno.shape, test_msno.shape)

(600803,) (257487,)

In [7]:
train.head()

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1

In [14]:
# Split this dataset according to original breakdown
train_set = pd.merge(train, train_msno)
test_set = pd.merge(train, test_msno)
print(train_set.shape, test_set.shape)

(600803, 2) (257487, 2)

In [19]:
print(train_set.shape, np.mean(train_set.is_churn))
print(test_set.shape, np.mean(test_set.is_churn))

(600803, 2) 0.09344493952260557
(257487, 2) 0.09344549433563636

### Set up the training entityset

In [20]:
## Prepare the training data 

train_input = pd.merge(left=train_set, right=members, how='inner', on=['msno'])

train_input.reset_index(drop=True, inplace=True)

## Preserve the order of instances as DFS will shuffle them
train_sort_order = train_input[['msno', 'is_churn']].reset_index(drop=True).reset_index()
train_sort_order.columns = ['sort_order', 'msno', 'is_churn']

print(len(train_input))
train_input.head()

600803

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,registration_init_time_dt
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,5,28,male,3,20131223,2013-12-23
1,f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=,1,13,20,male,3,20131223,2013-12-23
2,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,1,13,18,male,3,20131227,2013-12-27
3,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,1,1,0,unknown,7,20140109,2014-01-09
4,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,1,13,35,female,7,20140125,2014-01-25

In [21]:
train_sort_order.head()

   sort_order                                          msno  is_churn
0           0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1           1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2           2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3           3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4           4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1

In [22]:
## Prepare the test data 

test_input = pd.merge(left=test_set, right=members, how='inner', on=['msno'])

test_input.reset_index(drop=True, inplace=True)

## Preserve the order of instances as DFS will shuffle them
test_sort_order = test_input[['msno', 'is_churn']].reset_index(drop=True).reset_index()
test_sort_order.columns = ['sort_order', 'msno', 'is_churn']

print(len(test_input))
test_input.head()

257487

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,registration_init_time_dt
0,ibIHVYBqxGwrSExE63/omeDD99M5vYB3CN2HzkEY+eM=,1,22,0,unknown,3,20140126,2014-01-26
1,otEcMhAX3mU4gumUSogqgteN3oaNmhdmTkoof2iRYEE=,1,13,0,unknown,7,20140228,2014-02-28
2,t5rqTxCnG7s5VBgEfdkQCezv5KBK7+DMujNibYgylrs=,1,13,0,unknown,9,20140307,2014-03-07
3,a7AtvhlY8KnKZGpiVe+4HhFerqTEgmno3x7Rc7YGwzw=,1,13,32,unknown,7,20140324,2014-03-24
4,SJCoxreWp6Cu9WPitvAT6pZ9gChiSR4tWP4lvJGdxSM=,1,12,21,male,3,20140407,2014-04-07

In [23]:
test_sort_order.head()

   sort_order                                          msno  is_churn
0           0  ibIHVYBqxGwrSExE63/omeDD99M5vYB3CN2HzkEY+eM=         1
1           1  otEcMhAX3mU4gumUSogqgteN3oaNmhdmTkoof2iRYEE=         1
2           2  t5rqTxCnG7s5VBgEfdkQCezv5KBK7+DMujNibYgylrs=         1
3           3  a7AtvhlY8KnKZGpiVe+4HhFerqTEgmno3x7Rc7YGwzw=         1
4           4  SJCoxreWp6Cu9WPitvAT6pZ9gChiSR4tWP4lvJGdxSM=         1

In [24]:
# Reduce the transactions dataset down to ust those members present in the train set ..
transactions_train = pd.merge(train_set['msno'], transactions, on='msno', how='inner')
#transactions_train.reset_index(drop=True, inplace=True)

# Reduce the transactions dataset down to ust those members present in the train set ..
transactions_test = pd.merge(test_set['msno'], transactions, on='msno', how='inner')
#transactions_test.reset_index(drop=True, inplace=True)

print(len(transactions_train), len(transactions_test))
transactions_train.head()

9544810 4086523

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,price_difference,planned_daily_price,daily_price
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,38,30,149,149,False,20170228,20170330,False,0,4.97,4.97
1,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,31,30,0,149,True,20150331,20150430,False,107,0.00,4.97
2,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,31,30,0,149,True,20150630,20150731,False,107,0.00,4.97
3,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,31,30,149,149,True,20150902,20150901,True,0,4.97,4.97
4,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,31,30,0,149,True,20150831,20150930,False,107,0.00,4.97

In [26]:
# Specify aggregation primitives
agg_primitives = ['sum', 'time_since_last', 'avg_time_between', 'all', 'mode', 'num_unique', 'min', 'last', 
                  'mean', 'percent_true', 'max', 'std', 'count']
# Specify transformation primitives
trans_primitives = ['day', 'month', 'diff', 'time_since_previous']
# Specify where primitives
where_primitives = ['sum', 'mean']#, 'percent_true', 'all', 'any']

### Construct the train set

In [27]:
# Make empty entityset
es_train = ft.EntitySet(id = 'train_set')

# Create entity from members
es_train.entity_from_dataframe(entity_id='members', dataframe=train_input.copy(),
                               index = 'msno', time_index = 'registration_init_time', 
                               variable_types = {'city': vtypes.Categorical, 
                                                 'gender': vtypes.Categorical,
                                                 'registered_via': vtypes.Categorical})

# Create entity from transactions
es_train.entity_from_dataframe(entity_id='transactions', dataframe=transactions_train.copy(),
                         index = 'transactions_index', make_index = True,
                         time_index = 'transaction_date', 
                         variable_types = {'payment_method_id': vtypes.Categorical, 
                                           'is_auto_renew': vtypes.Boolean, 
                                           'is_cancel': vtypes.Boolean})

# Relationships (parent, child)
r_member_transactions = ft.Relationship(es_train['members']['msno'], 
                                        es_train['transactions']['msno'])

es_train.add_relationships([r_member_transactions])

Entityset: train_set
  Entities:
    members [Rows: 600803, Columns: 8]
    transactions [Rows: 9544810, Columns: 13]
  Relationships:
    transactions.msno -> members.msno

In [28]:
feature_matrix, feature_defs = ft.dfs(entityset=es_train,
                                      target_entity="members",
                                      agg_primitives = agg_primitives,
                                      trans_primitives = trans_primitives,
                                      where_primitives = where_primitives,
                                      max_depth=2, n_jobs = 1, chunk_size = 1000, verbose = 1, 
                                      ignore_variables={'members':['msno', 'Id', 'index', 'is_churn'], 
                                                        'transactions':['msno', 'Id', 'index', 'transactions_index']})

Built 165 features
Elapsed: 18:33 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 601/601 chunks

In [29]:
## Reorder according to the original train split order
DFS_train = pd.merge(feature_matrix, train_sort_order, on='msno', how='inner')\
                        .sort_values('sort_order', ascending=True)\
                        .drop(['sort_order'], axis=1)
DFS_train.head(10)

,msno,bd,registration_init_time,city,gender,registered_via,SUM(transactions.payment_plan_days),SUM(transactions.plan_list_price),SUM(transactions.actual_amount_paid),SUM(transactions.transaction_date),...,DIFF(MAX(transactions.daily_price)),DIFF(STD(transactions.payment_plan_days)),DIFF(STD(transactions.plan_list_price)),DIFF(STD(transactions.actual_amount_paid)),DIFF(STD(transactions.transaction_date)),DIFF(STD(transactions.membership_expire_date)),DIFF(STD(transactions.price_difference)),DIFF(STD(transactions.planned_daily_price)),DIFF(STD(transactions.daily_price)),is_churn
551174,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,28,20131223,5,male,3,180,298.00,894.00,120923653,...,1.67,0.00,76.94,0.00,3890.64,3353.08,55.25,2.56,0.00,1
403333,f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=,20,20131223,13,male,3,127,627.00,627.00,100812365,...,1.03,9.96,42.15,71.37,-1967.03,-2345.67,-20.98,1.41,2.33,1
594889,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,18,20131227,13,male,3,540,2682.00,2682.00,362862440,...,0.00,0.00,-29.22,0.00,-371.25,-554.29,-20.98,-0.97,0.00,1
100379,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,0,20140109,1,unknown,7,547,2384.00,2682.00,382888820,...,0.00,4.90,21.64,34.18,-2480.05,344.36,9.19,0.73,1.08,1
207602,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,35,20140125,13,female,7,720,2529.00,2956.00,483713706,...,0.00,0.00,44.20,19.09,-1495.13,-544.06,38.55,1.47,0.64,1
455663,kVmM8X4iBPCOfK/m1l3KR7LjFoxD1EcKYCc76F5IAWw=,0,20140129,1,unknown,7,240,792.00,792.00,161306160,...,-1.67,0.00,0.00,0.00,-90.20,796.10,0.00,0.00,0.00,1
477117,moRTKhKIDvb+C8ZHOgmaF4dXMLk0jOn65d7a8tQ2Eds=,28,20140202,9,female,3,349,378.00,378.00,40311125,...,-4.36,-29.88,-4.78,-4.78,-98.51,1528.48,0.00,-2.20,-2.20,1
389370,dW/tPZMDh2Oz/ksduEctJbsz0MXw3kay/1AlZCq3EbI=,21,20140212,13,female,9,400,1339.00,1339.00,161294139,...,0.00,37.42,-14.15,22.53,3079.27,-1225.22,-34.70,-0.25,0.98,1
390720,dfLS2/Pom6O3iUpo+mf/K1Bc6g+7LFKzoNf+zlJtDoQ=,0,20140323,1,unknown,7,870,3931.00,3573.00,584518768,...,0.00,0.00,15.87,29.27,-566.44,-73.97,30.48,0.53,0.98,1
159878,F45GsXJIeLvzUJqz/v4R/6CVYPdek7K4Leu+aqbCRo8=,0,20140402,1,unknown,3,510,2533.00,2533.00,342680642,...,0.00,-0.22,-33.32,0.00,-227.74,-886.35,-23.93,-1.11,-0.04,1

### Construct the test set

In [30]:
# Make empty entityset
es_test = ft.EntitySet(id = 'test_set')

# Create entity from members
es_test.entity_from_dataframe(entity_id='members', dataframe=test_input.copy(),
                               index = 'msno', time_index = 'registration_init_time', 
                               variable_types = {'city': vtypes.Categorical, 
                                                 'gender': vtypes.Categorical,
                                                 'registered_via': vtypes.Categorical})

# Create entity from transactions
es_test.entity_from_dataframe(entity_id='transactions', dataframe=transactions_test.copy(),
                         index = 'transactions_index', make_index = True,
                         time_index = 'transaction_date', 
                         variable_types = {'payment_method_id': vtypes.Categorical, 
                                           'is_auto_renew': vtypes.Boolean, 
                                           'is_cancel': vtypes.Boolean})

# Relationships (parent, child)
r_member_transactions_tst = ft.Relationship(es_test['members']['msno'], 
                                        es_test['transactions']['msno'])

es_test.add_relationships([r_member_transactions_tst])

feature_matrix_tst = ft.calculate_feature_matrix(features=feature_defs, entityset=es_test, verbose = 1)

Elapsed: 03:36 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 11/11 chunks

In [31]:
## Reorder according to the original test split order
DFS_test = pd.merge(feature_matrix_tst, test_sort_order, on='msno', how='inner')\
                    .sort_values('sort_order', ascending=True)\
                    .drop(['sort_order'], axis=1)
DFS_test.head()

,msno,bd,registration_init_time,city,gender,registered_via,SUM(transactions.payment_plan_days),SUM(transactions.plan_list_price),SUM(transactions.actual_amount_paid),SUM(transactions.transaction_date),...,DIFF(MAX(transactions.daily_price)),DIFF(STD(transactions.payment_plan_days)),DIFF(STD(transactions.plan_list_price)),DIFF(STD(transactions.actual_amount_paid)),DIFF(STD(transactions.transaction_date)),DIFF(STD(transactions.membership_expire_date)),DIFF(STD(transactions.price_difference)),DIFF(STD(transactions.planned_daily_price)),DIFF(STD(transactions.daily_price)),is_churn
188178,ibIHVYBqxGwrSExE63/omeDD99M5vYB3CN2HzkEY+eM=,0,20140126,22,unknown,3,601,2831.00,2980.00,403173171,...,1.63,0.22,33.09,-0.23,68.71,483.08,23.93,1.10,0.03,1
213322,otEcMhAX3mU4gumUSogqgteN3oaNmhdmTkoof2iRYEE=,0,20140228,13,unknown,7,690,3278.00,3427.00,463595530,...,-1.03,0.00,15.86,-15.21,32.35,865.56,22.31,0.53,-0.51,1
230226,t5rqTxCnG7s5VBgEfdkQCezv5KBK7+DMujNibYgylrs=,0,20140307,13,unknown,9,390,1937.00,1937.00,262079488,...,-1.03,0.00,0.00,0.00,4672.17,5435.23,0.00,0.00,0.00,1
153749,a7AtvhlY8KnKZGpiVe+4HhFerqTEgmno3x7Rc7YGwzw=,32,20140324,13,unknown,7,780,3725.00,3874.00,524076524,...,0.00,-0.38,-5.90,0.00,-668.83,-281.84,-4.24,-0.19,-0.06,1
122237,SJCoxreWp6Cu9WPitvAT6pZ9gChiSR4tWP4lvJGdxSM=,21,20140407,12,male,3,600,3029.00,3029.00,403102647,...,1.03,0.00,-23.41,-11.23,-245.10,-599.14,-19.87,-0.78,-0.37,1

In [33]:
print(DFS_train.shape)
print(DFS_test.shape)

(600803, 167)
(257487, 167)

In [41]:
DFS_train['city'] = DFS_train['city'].astype(str)
DFS_train['registered_via'] = DFS_train['registered_via'].astype(str)

DFS_test['city'] = DFS_test['city'].astype(str)
DFS_test['registered_via'] = DFS_test['registered_via'].astype(str)

In [42]:
## Clean up the na values
final_train = DFS_train.fillna(0)
final_test = DFS_test.fillna(0)

print(final_train.shape)
print(final_test.shape)

(600803, 167)
(257487, 167)

In [45]:
X_train, X_test, y_train, y_test = final_train.drop(['msno', 'is_churn'], axis=1), \
                                   final_test.drop(['msno', 'is_churn'], axis=1), \
                                   final_train.is_churn, \
                                   final_test.is_churn

print("Train Shape:",X_train.shape,y_train.shape)
print("Test Shape:",X_test.shape,y_test.shape)

Train Shape: (600803, 165) (600803,)
Test Shape: (257487, 165) (257487,)

In [46]:
store = pd.HDFStore('/home/dissertation/data/dfs_abt_split.h5')
store['X_train'] = X_train   # write to HDF5
store['X_test'] = X_test   # write to HDF5
store['y_train'] = y_train   # write to HDF5
store['y_test'] = y_test   # write to HDF5
store.close()