In [1]:
## @see https://www.kaggle.com/toorkp/churn-wsdm/data

In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import time
import gc; gc.enable()
import time

from sklearn import model_selection
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

pd.options.display.float_format = "{:.2f}".format
np.set_printoptions(precision=4)

import matplotlib.pyplot as plt
get_ipython().magic('matplotlib inline')

def OHE(df, col = ['city','registered_via']):
   
    print('Categorical columns in dataset',col)
    
    c2,c3 = [],{}
    for c in col:
        if df[c].nunique()>2 :
            c2.append(c)
            c3[c] = 'ohe_'+c
    
    df = pd.get_dummies(df,columns=c2,drop_first=True,prefix=c3)
    print(df.shape)
    return df

In [2]:
# train_input = load_train_dataset()
# train_input.to_hdf('C:/Work/kaggle/wsdm-churn/train_input.h5', key='train_input', mode='w', format='table')
train_input = pd.read_hdf('C:/Work/kaggle/wsdm-churn/train_input.h5', 'train_input')
#train_input['registration_init_time_dt'] = train_input.registration_init_time.astype(int)
train_input['registration_init_time_dt'] = pd.to_datetime(train_input['registration_init_time'], 
                                                          format='%Y%m%d', errors='ignore')

train_input = OHE(train_input)
train_input = train_input.drop(labels =['gender','msno'], axis=1)
train_input.head()

print(train_input.shape)

train_input.head()

Categorical columns in dataset ['city', 'registered_via']
(992931, 35)
(992931, 33)

,is_churn,bd,registration_init_time,is_cancel_sum,plan_list_price,msno_count,actual_amount_paid_sum,actual_amount_paid_mean,registration_init_time_dt,ohe_city_3.0,...,ohe_city_17.0,ohe_city_18.0,ohe_city_19.0,ohe_city_20.0,ohe_city_21.0,ohe_city_22.0,ohe_registered_via_4.0,ohe_registered_via_7.0,ohe_registered_via_9.0,ohe_registered_via_13.0
0,True,36.00,20050406.00,0.00,149.00,2,149.00,74.50,2005-04-06,0,...,0,1,0,0,0,0,0,0,1,0
1,True,38.00,20050407.00,2.00,3309.00,23,3458.00,150.35,2005-04-07,0,...,0,0,0,0,0,0,0,0,1,0
2,True,27.00,20051016.00,1.00,1492.00,10,1492.00,149.20,2005-10-16,0,...,0,0,0,0,0,0,0,0,1,0
3,True,23.00,20051102.00,0.00,252.00,2,252.00,126.00,2005-11-02,0,...,0,0,0,0,0,0,0,0,1,0
4,True,27.00,20051228.00,0.00,1272.00,8,1272.00,159.00,2005-12-28,1,...,0,0,0,0,0,0,0,0,1,0

In [3]:
base_dataset = train_input.dropna()
base_dataset.shape

(877161, 33)

In [4]:
train_input.registration_init_time_dt.min()

Timestamp('2004-03-26 00:00:00')

In [5]:
train_input.registration_init_time_dt.max()

Timestamp('2017-03-30 00:00:00')

### Experiment 1. Basic Baseline
#### Build a model on the entire dataset

In [10]:
classifiers = [
   ('KNN', KNeighborsClassifier(3)),
   ('NB', GaussianNB()),
   ('DT', DecisionTreeClassifier()),
   ('RF', RandomForestClassifier()),
   ('LR', LogisticRegression())]

In [11]:
model_dataset = base_dataset.drop(columns=['registration_init_time', 'registration_init_time_dt'], axis=1)
model_train_results = train_model(model_dataset, )

(model_name, model, stats) = model_train_results[0]
stats

Building RF classifier

,classifier,accuracy,f1_score,log_loss,dataset_fraction,time_taken
0,RandomForestClassifier,0.94,0.42,2.13,100,17.59

In [12]:
importances = model.feature_importances_
indices = np.argsort(importances)[::-1]
train_cols = model_dataset.iloc[:, 1:].columns 

# Print the feature ranking
print("Feature ranking:")

for f in range(len(train_cols)):
    print("%s. feature %d (%f)" % (str(train_cols[f]), indices[f], importances[indices[f]]))

Feature ranking:
bd. feature 0 (0.190641)
is_cancel_sum. feature 2 (0.177202)
plan_list_price. feature 4 (0.159350)
msno_count. feature 5 (0.137224)
actual_amount_paid_sum. feature 3 (0.118190)
actual_amount_paid_mean. feature 1 (0.071037)
ohe_city_3.0. feature 27 (0.023343)
ohe_city_4.0. feature 28 (0.015760)
ohe_city_5.0. feature 16 (0.010124)
ohe_city_6.0. feature 7 (0.010005)
ohe_city_7.0. feature 8 (0.009715)
ohe_city_8.0. feature 26 (0.009330)
ohe_city_9.0. feature 25 (0.009151)
ohe_city_10.0. feature 18 (0.008974)
ohe_city_11.0. feature 9 (0.005948)
ohe_city_12.0. feature 17 (0.005836)
ohe_city_13.0. feature 15 (0.005316)
ohe_city_14.0. feature 14 (0.004095)
ohe_city_15.0. feature 12 (0.003886)
ohe_city_16.0. feature 11 (0.003590)
ohe_city_17.0. feature 13 (0.003541)
ohe_city_18.0. feature 21 (0.003469)
ohe_city_19.0. feature 29 (0.002947)
ohe_city_20.0. feature 24 (0.002914)
ohe_city_21.0. feature 20 (0.002878)
ohe_city_22.0. feature 6 (0.002766)
ohe_registered_via_4.0. feature 10 (0.001507)
ohe_registered_via_7.0. feature 19 (0.000691)
ohe_registered_via_9.0. feature 23 (0.000497)
ohe_registered_via_13.0. feature 22 (0.000073)

In [91]:
#test_input = load_test_dataset()
#test_input.to_hdf('C:/Work/kaggle/wsdm-churn/test_input.h5', key='test_input', mode='w', format='table')

In [13]:
test_input = pd.read_hdf('C:/Work/kaggle/wsdm-churn/test_input.h5', 'test_input')
test_input = test_input.drop(columns=['registration_init_time', 'gender','msno'], axis=1)
test_input = test_input.dropna()
test_input = OHE(test_input)
test_input.head()

Categorical columns in dataset ['city', 'registered_via']
(825368, 31)

,is_churn,bd,mean_payment_each_transaction,total_actual_payment,plan_net_worth,cancel_times,total_order,ohe_city_3.0,ohe_city_4.0,ohe_city_5.0,...,ohe_city_17.0,ohe_city_18.0,ohe_city_19.0,ohe_city_20.0,ohe_city_21.0,ohe_city_22.0,ohe_registered_via_4.0,ohe_registered_via_7.0,ohe_registered_via_9.0,ohe_registered_via_13.0
1,1,20.00,180.00,180.00,180.00,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,18.00,22.00,44.00,44.00,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0.00,149.00,1490.00,1490.00,0,10,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,35.00,99.00,792.00,792.00,1,8,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,1,0.00,149.00,149.00,149.00,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [14]:
X_test = test_input.iloc[:, 1:].dropna()
y_test = test_input.iloc[:, 0].dropna()

name = model.__class__.__name__

test_predictions = model.predict(X_test)

acc = accuracy_score(y_test, test_predictions)
f1 = f1_score(y_test, test_predictions)
lg_loss = log_loss(y_test, test_predictions)

print("{0} Accuracy={1}; F1 Score={2}; Log Loss={3}".format(name, acc, f1, lg_loss))

RandomForestClassifier Accuracy=0.17198389082203333; F1 Score=0.10787694926493815; Log Loss=28.59931325778128

### Experiment 2. Drift Basic Baseline
#### Build a model on the entire dataset

In [28]:
'''

for each 9 month training window, 
    train a model on that dataset
    evaluate the model on the next 6 months individually per month

    Slide time period forward by 1 month until at end 

'''

In [13]:
start = base_dataset.registration_init_time_dt.min()
# Get date at start of month
start = pd.Timestamp(start.year, start.month, 1)
max_date = base_dataset.registration_init_time_dt.max()

while start + pd.DateOffset(months=24) < max_date:
    
    roll_start_date = start + pd.DateOffset(months=24)
    roll_end_date = roll_start_date + pd.DateOffset(months=9)
    
    train_data_window = base_dataset[(base_dataset.registration_init_time_dt >= roll_start_date) & \
                                    (base_dataset.registration_init_time_dt < roll_end_date)]    
    
    print("{0} records for date {1} - {2}".format(len(train_data_window), roll_start_date, roll_end_date))
    
    print("Training model ... ")
    
    model_train_results = train_model(base_dataset.drop(columns=['registration_init_time', 'registration_init_time_dt'], 
                                                        axis=1))
    
    (model_name, model, stats) = model_train_results[0]
    
    i = 0
    test_window_start = roll_end_date
    
    while i < 6:
        test_window_end = test_window_start + pd.DateOffset(months=1)
        
        test_data_window = base_dataset[(base_dataset.registration_init_time_dt >= test_window_start) & \
                                        (base_dataset.registration_init_time_dt < test_window_end)]

        print("Test window {0} : {1} records for dates {2} --> {3}".format(i, len(test_data_window), test_window_start, test_window_end))        

        # Generate the train and test datasets for this..  
        test_data_window.drop(columns=['registration_init_time', 'registration_init_time_dt'], 
                              axis=1, 
                              inplace=True)
        X_test = test_data_window.iloc[:, 1:]
        y_test = test_data_window.iloc[:, 0]

        train_predictions = model.predict(X_test)  
        
        acc = accuracy_score(y_test, train_predictions)
        f1 = f1_score(y_test, train_predictions)
        l_loss = log_loss(y_test, train_predictions)
        
        print(acc, f1, l_loss)
        
        test_window_start += pd.DateOffset(months=1)
        i += 1
    
    start = start + pd.DateOffset(months=1)
    
    break

13957 records for date 2006-03-01 00:00:00 - 2006-12-01 00:00:00
Training model ...
Building RF classifier
Test window 0 : 1380 records for dates 2006-12-01 00:00:00 --> 2007-01-01 00:00:00

C:\Users\steph\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0.9782608695652174 0.7794117647058822 0.750846441617321
Test window 1 : 1435 records for dates 2007-01-01 00:00:00 --> 2007-02-01 00:00:00
0.9672473867595819 0.6618705035971223 1.131242986010332
Test window 2 : 2416 records for dates 2007-02-01 00:00:00 --> 2007-03-01 00:00:00
0.9755794701986755 0.7149758454106281 0.8434601826412192
Test window 3 : 2546 records for dates 2007-03-01 00:00:00 --> 2007-04-01 00:00:00
0.9658287509819324 0.6692015209125475 1.1802400382956386
Test window 4 : 3017 records for dates 2007-04-01 00:00:00 --> 2007-05-01 00:00:00
0.9668544912164402 0.6732026143790849 1.1448127372287427
Test window 5 : 2270 records for dates 2007-05-01 00:00:00 --> 2007-06-01 00:00:00
0.9718061674008811 0.6559139784946236 0.9737843545577171

In [15]:
#test_input = load_train_dataset()
#test_input.to_hdf('C:/Work/kaggle/wsdm-churn/test_input.h5', key='test_input', mode='w', format='table')

test_input = pd.read_hdf('C:/Work/kaggle/wsdm-churn/test_input.h5', 'test_input')
test_input.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,mean_payment_each_transaction,total_actual_payment,plan_net_worth,cancel_times,total_order
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,5.00,28.00,male,3.00,20131223.00,nan,0.00,0.00,0,1
1,f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=,1,13.00,20.00,male,3.00,20131223.00,180.00,180.00,180.00,0,1
2,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,1,13.00,18.00,male,3.00,20131227.00,22.00,44.00,44.00,0,2
3,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,1,1.00,0.00,NaN,7.00,20140109.00,149.00,1490.00,1490.00,0,10
4,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,1,13.00,35.00,female,7.00,20140125.00,99.00,792.00,792.00,1,8

In [16]:
test_input.shape

(970960, 12)

In [14]:
%%time

X_test = sample.iloc[:, 1:].dropna()
y_test = sample.iloc[:, 0].dropna()

name = model.__class__.__name__

train_predictions = model.predict(X_test)

acc = accuracy_score(y_test, train_predictions)
f1 = f1_score(y_test, train_predictions)
lg_loss = log_loss(y_test, train_predictions)

print("{0} Accuracy={1}; F1 Score={2}; Log Loss={3}".format(name, acc, f1, lg_loss))

NameError: name 'sample' is not defined

In [14]:
train_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/train.csv', 
                          dtype={'is_churn' : bool, 'msno' : str})

In [15]:
test_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/train_v2.csv',
                         dtype = {'is_churn' : bool, 'msno' : str})

In [18]:
len(train_input)

992931

In [19]:
len(test_input)

970960

In [9]:
def load_train_dataset():
    ## First the dataset indicating whether the customer churned or not.
    train_input   = pd.read_csv('C:/Work/kaggle/wsdm-churn/train.csv', 
                                dtype={'is_churn' : bool, 'msno' : str})

    ## Some basic data about the member 
    members_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/members_v3.csv',
                                dtype={'registered_via' : np.uint8,
                                       'gender' : 'category'})

    train_input = pd.merge(left = train_input, right = members_input, how = 'left', on=['msno'])

    del members_input

    ## Next load in the transactions data
    transactions_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/transactions.csv',
                                     dtype = {'payment_method' : 'category',
                                              'payment_plan_days' : np.uint8,
                                              'plan_list_price' : np.uint8,
                                              'actual_amount_paid': np.uint8,
                                              'is_auto_renew' : np.bool,
                                              'is_cancel' : np.bool})

    transactions_input = pd.merge(left = train_input, right = transactions_input, how='left', on='msno')
    grouped  = transactions_input.copy().groupby('msno')


    shuffle = grouped.agg({'msno' :{'msno_count': 'count'},
                           'plan_list_price' :{'plan_list_price':'sum'},
                           'actual_amount_paid' : {'actual_amount_paid_mean' : 'mean',
                                                   'actual_amount_paid_sum' : 'sum'},
                           'is_cancel' : {'is_cancel_sum': 'sum'}})
    
    shuffle.columns = shuffle.columns.droplevel(0)

    shuffle.reset_index(inplace=True)

    train_input = pd.merge(left = train_input,right = shuffle,how='left',on='msno')

    del transactions_input,shuffle

    return train_input

In [8]:
def load_test_dataset():
    test_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/train_v2.csv',dtype = {'msno' : str})
    members_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/members_v3.csv',dtype={'registered_via' : np.uint8,
                                                          'gender' : 'category'})

    test_input = pd.merge(left=test_input,right=members_input,how='left',on=['msno'])

    del members_input

    transactions_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/transactions_v2.csv',
                                     dtype = {'payment_method' : 'category',
                                              'payment_plan_days' : np.uint8,
                                              'plan_list_price' : np.uint8,
                                              'actual_amount_paid': np.uint8,
                                              'is_auto_renew' : np.bool,
                                              'is_cancel' : np.bool})

    transactions_input = pd.merge(left = test_input, 
                                  right = transactions_input, 
                                  how='left', 
                                  on='msno')

    grouped  = transactions_input.copy().groupby('msno')

    shuffle = grouped.agg({'msno' : {'total_order' : 'count'},
                           'plan_list_price' : {'plan_net_worth' : 'sum'},
                           'actual_amount_paid' : {'mean_payment_each_transaction' : 'mean',
                                                   'total_actual_payment' : 'sum'},
                           'is_cancel' : {'cancel_times' : lambda x : sum(x==1)}})

    shuffle.columns = shuffle.columns.droplevel(0)
    shuffle.reset_index(inplace=True)
    test_input = pd.merge(left = test_input,right = shuffle,how='left',on='msno')
    del transactions_input

    return test_input

In [7]:
def train_model(df, classifiers = [('RF', RandomForestClassifier())]):
    
    target_index = 0
    results = []
    metric_cols = ["classifier", "accuracy", "f1_score", "log_loss", "dataset_fraction", "time_taken"]
    metrics = pd.DataFrame(columns=metric_cols)

    ## Generate the train and test datasets for this..  
    X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, target_index+1:], \
                                                        df.iloc[:, target_index], \
                                                        random_state = 42,
                                                        stratify = df.iloc[:, target_index])
    
    for name, model in classifiers:
        print('Building {0} classifier'.format(name))
        start = time.time()
        
        model.fit(X_train, y_train)
        train_predictions = model.predict(X_test)
        
        finish = time.time()

        metric_entry = pd.DataFrame([[model.__class__.__name__, 
                                      accuracy_score(y_test, train_predictions),
                                      f1_score(y_test, train_predictions), 
                                      log_loss(y_test, train_predictions),
                                      100, 
                                      finish-start]], 
                                    columns=metric_cols)
        metrics = metrics.append(metric_entry)

        y_predict_prob = model.predict_proba(X_test)[:,1]
        fpr, tpr, thresholds = roc_curve(y_test, y_predict_prob)
        roc_auc = auc(fpr, tpr)
        
        results.append((model.__class__.__name__, model, metrics))
        
    return results

In [15]:
train_input   = pd.read_csv('C:/Work/kaggle/wsdm-churn/train.csv', 
                            dtype={'is_churn' : bool, 'msno' : str})

In [21]:
train_input.head()

                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=      True
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=      True
2  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=      True
3  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=      True
4  XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=      True

In [16]:
train_input_v2   = pd.read_csv('C:/Work/kaggle/wsdm-churn/train_v2.csv', 
                            dtype={'is_churn' : bool, 'msno' : str})

In [20]:
train_input.is_churn.value_counts()

False    929460
True      63471
Name: is_churn, dtype: int64

In [19]:
train_input_v2.is_churn.value_counts()

False    883630
True      87330
Name: is_churn, dtype: int64

In [25]:
temp = pd.concat([train_input, train_input_v2])

In [23]:
temp = pd.merge(train_input, train_input_v2, on=['msno'])

In [27]:
len(temp.drop_duplicates())

1128180