In [12]:
## @see https://www.kaggle.com/toorkp/churn-wsdm/data

In [41]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import time
import gc; gc.enable()
import time

pd.options.display.float_format = "{:.2f}".format
np.set_printoptions(precision=4)

import matplotlib.pyplot as plt
get_ipython().magic('matplotlib inline')

In [15]:
## First the dataset indicating whether the customer churned or not.
train_input   = pd.read_csv('C:/Work/kaggle/wsdm-churn/train.csv', 
                            dtype={'is_churn' : bool, 'msno' : str})

## Some basic data about the member 
members_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/members_v3.csv',
                            dtype={'registered_via' : np.uint8,
                                   'gender' : 'category'})

train_input = pd.merge(left = train_input, right = members_input, how = 'left', on=['msno'])

## Next load in the transactions data
transactions_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/transactions.csv',
                                 dtype = {'payment_method' : 'category',
                                          'payment_plan_days' : np.uint8,
                                          'plan_list_price' : np.uint8,
                                          'actual_amount_paid': np.uint8,
                                          'is_auto_renew' : np.bool,
                                          'is_cancel' : np.bool})

In [17]:
print(train_input.shape)
print(members_input.shape)
print(transactions_input.shape)

(992931, 7)
(6769473, 6)
(21547746, 9)

In [21]:
len(transactions_input.msno.unique())

2363626

In [19]:
train_input.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,True,18.00,36.00,female,9.00,20050406.00
1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,True,10.00,38.00,male,9.00,20050407.00
2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,True,11.00,27.00,female,9.00,20051016.00
3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,True,13.00,23.00,female,9.00,20051102.00
4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,True,3.00,27.00,male,9.00,20051228.00

In [20]:
transactions_input[transactions_input.msno == 'waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y='].head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
4261110,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,7,0,0,False,20161031,20161107,False
5459753,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,30,149,149,False,20170107,20170206,False

In [2]:
# train_input = load_train_dataset()
# train_input.to_hdf('C:/Work/kaggle/wsdm-churn/train_input.h5', key='train_input', mode='w', format='table')
train_input = pd.read_hdf('C:/Work/kaggle/wsdm-churn/train_input.h5', 'train_input')

In [8]:
print(train_input.shape)
train_input.head()

(992931, 12)

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,is_cancel_sum,plan_list_price,msno_count,actual_amount_paid_sum,actual_amount_paid_mean
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,True,18.00,36.00,female,9.00,20050406.00,0.00,149.00,2,149.00,74.50
1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,True,10.00,38.00,male,9.00,20050407.00,2.00,3309.00,23,3458.00,150.35
2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,True,11.00,27.00,female,9.00,20051016.00,1.00,1492.00,10,1492.00,149.20
3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,True,13.00,23.00,female,9.00,20051102.00,0.00,252.00,2,252.00,126.00
4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,True,3.00,27.00,male,9.00,20051228.00,0.00,1272.00,8,1272.00,159.00

In [9]:
train_input = OHE(train_input)
train_input = train_input.drop(labels =['gender','msno'], axis=1)
train_input.head()

Categorical columns in dataset ['city', 'registered_via']
(992931, 34)

,is_churn,bd,registration_init_time,is_cancel_sum,plan_list_price,msno_count,actual_amount_paid_sum,actual_amount_paid_mean,ohe_city_3.0,ohe_city_4.0,...,ohe_city_17.0,ohe_city_18.0,ohe_city_19.0,ohe_city_20.0,ohe_city_21.0,ohe_city_22.0,ohe_registered_via_4.0,ohe_registered_via_7.0,ohe_registered_via_9.0,ohe_registered_via_13.0
0,True,36.00,20050406.00,0.00,149.00,2,149.00,74.50,0,0,...,0,1,0,0,0,0,0,0,1,0
1,True,38.00,20050407.00,2.00,3309.00,23,3458.00,150.35,0,0,...,0,0,0,0,0,0,0,0,1,0
2,True,27.00,20051016.00,1.00,1492.00,10,1492.00,149.20,0,0,...,0,0,0,0,0,0,0,0,1,0
3,True,23.00,20051102.00,0.00,252.00,2,252.00,126.00,0,0,...,0,0,0,0,0,0,0,0,1,0
4,True,27.00,20051228.00,0.00,1272.00,8,1272.00,159.00,1,0,...,0,0,0,0,0,0,0,0,1,0

In [10]:
base_dataset = train_input.dropna()
base_dataset.head()

,is_churn,bd,registration_init_time,is_cancel_sum,plan_list_price,msno_count,actual_amount_paid_sum,actual_amount_paid_mean,ohe_city_3.0,ohe_city_4.0,...,ohe_city_17.0,ohe_city_18.0,ohe_city_19.0,ohe_city_20.0,ohe_city_21.0,ohe_city_22.0,ohe_registered_via_4.0,ohe_registered_via_7.0,ohe_registered_via_9.0,ohe_registered_via_13.0
0,True,36.00,20050406.00,0.00,149.00,2,149.00,74.50,0,0,...,0,1,0,0,0,0,0,0,1,0
1,True,38.00,20050407.00,2.00,3309.00,23,3458.00,150.35,0,0,...,0,0,0,0,0,0,0,0,1,0
2,True,27.00,20051016.00,1.00,1492.00,10,1492.00,149.20,0,0,...,0,0,0,0,0,0,0,0,1,0
3,True,23.00,20051102.00,0.00,252.00,2,252.00,126.00,0,0,...,0,0,0,0,0,0,0,0,1,0
4,True,27.00,20051228.00,0.00,1272.00,8,1272.00,159.00,1,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
base_dataset.columns

Index(['is_churn', 'bd', 'registration_init_time', 'is_cancel_sum',
       'plan_list_price', 'msno_count', 'actual_amount_paid_sum',
       'actual_amount_paid_mean', 'ohe_city_3.0', 'ohe_city_4.0',
       'ohe_city_5.0', 'ohe_city_6.0', 'ohe_city_7.0', 'ohe_city_8.0',
       'ohe_city_9.0', 'ohe_city_10.0', 'ohe_city_11.0', 'ohe_city_12.0',
       'ohe_city_13.0', 'ohe_city_14.0', 'ohe_city_15.0', 'ohe_city_16.0',
       'ohe_city_17.0', 'ohe_city_18.0', 'ohe_city_19.0', 'ohe_city_20.0',
       'ohe_city_21.0', 'ohe_city_22.0', 'ohe_registered_via_4.0',
       'ohe_registered_via_7.0', 'ohe_registered_via_9.0',
       'ohe_registered_via_13.0'],
      dtype='object')

In [12]:
unwanted = ['msno','is_churn','registration_init_time','transaction_date','membership_expire_date','date']

In [58]:
from sklearn import model_selection
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

classifiers = [
   ('KNN', KNeighborsClassifier(3)),
   ('NB', GaussianNB()),
   ('DT', DecisionTreeClassifier()),
   ('RF', RandomForestClassifier()),
   ('LR', LogisticRegression())]


## Prepare stratified splits of the dataset using increasing sample sizes
dataset_sample_fractions = [0.05, 0.1, 0.25, 0.5, 0.75, 1]


#classifiers = [
#   ('RF', RandomForestClassifier())]
#dataset_sample_fractions = [1]

In [59]:
log_cols = ["classifier", "accuracy", "f1_score", "log_loss", "dataset_fraction", "time_taken"]
log = pd.DataFrame(columns=log_cols)


#plt.clf()
#plt.figure(figsize=(18,13))

for this_frac in dataset_sample_fractions:
    sample = base_dataset.groupby('is_churn', group_keys = False)\
                         .apply(lambda x: x.sample(frac = this_frac))\
                         .reset_index(drop = True)
            
    X_train, X_test, y_train, y_test = train_test_split(sample.iloc[:, 1:], \
                                                        sample.iloc[:, 0], \
                                                        random_state = 42,
                                                        stratify = sample.iloc[:, 0])

    for name, model in classifiers:
        start = time.time()
        
        model.fit(X_train, y_train)
        name = model.__class__.__name__

        train_predictions = model.predict(X_test)
        
        finish = time.time()
        
        acc = accuracy_score(y_test, train_predictions)
        print (name, "Accuracy=", acc)
        
        #["classifier", "accuracy", "dataset_fraction", "time_taken"]
        log_entry = pd.DataFrame([[name, 
                                   acc*100,
                                   f1_score(y_test, train_predictions), 
                                   log_loss(y_test, train_predictions),
                                   this_frac, finish-start]], 
                                 columns=log_cols)
        log = log.append(log_entry)

        y_predict_prob = model.predict_proba(X_test)[:,1]

        fpr, tpr, thresholds = roc_curve(y_test, y_predict_prob)
        roc_auc = auc(fpr, tpr)

        #print(pd.crosstab(pd.Series(y_test), \
        #                  pd.Series(train_predictions), \
        #                  rownames=['Actual'], \
        #                  colnames=['Predicted'], margins=True))


        #plt.plot(fpr, tpr, label='%s ROC (area = %0.2f)' % (name, roc_auc))

#plt.plot([0, 1], [0, 1], 'k--')
#plt.xlim([0.0, 1.0])
#plt.ylim([0.0, 1.0])
#plt.xlabel('False Positive Rate')
#plt.ylabel('True Positive Rate')
#plt.title('ROC Curve')
#plt.legend(loc=0, fontsize='small')
#plt.show()

log

KNeighborsClassifier Accuracy= 0.9301413588691291
GaussianNB Accuracy= 0.9243046055631555
DecisionTreeClassifier Accuracy= 0.9106247150022799
RandomForestClassifier Accuracy= 0.9409940720474236
LogisticRegression Accuracy= 0.9342453260373917

C:\Users\steph\Anaconda3\envs\py35\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

KNeighborsClassifier Accuracy= 0.9291837665298678
GaussianNB Accuracy= 0.9238486092111263
DecisionTreeClassifier Accuracy= 0.9174646602827178
RandomForestClassifier Accuracy= 0.9404924760601915
LogisticRegression Accuracy= 0.9342453260373917

C:\Users\steph\Anaconda3\envs\py35\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

KNeighborsClassifier Accuracy= 0.9301752913922988
GaussianNB Accuracy= 0.9250861864545902
DecisionTreeClassifier Accuracy= 0.9192492202177918
RandomForestClassifier Accuracy= 0.9398974882804663
LogisticRegression Accuracy= 0.9342611677580578

C:\Users\steph\Anaconda3\envs\py35\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

KNeighborsClassifier Accuracy= 0.933066413731463
GaussianNB Accuracy= 0.9254874778833702
DecisionTreeClassifier Accuracy= 0.9199332396986666
RandomForestClassifier Accuracy= 0.940654469839301
LogisticRegression Accuracy= 0.9342702880178028

C:\Users\steph\Anaconda3\envs\py35\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

KNeighborsClassifier Accuracy= 0.9330264853953353
GaussianNB Accuracy= 0.9259187197509546
DecisionTreeClassifier Accuracy= 0.9220517061069631
RandomForestClassifier Accuracy= 0.9409429189872802
LogisticRegression Accuracy= 0.9342729284724081

C:\Users\steph\Anaconda3\envs\py35\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

KNeighborsClassifier Accuracy= 0.9332074731749137
GaussianNB Accuracy= 0.92568322457374
DecisionTreeClassifier Accuracy= 0.9227145664892769
RandomForestClassifier Accuracy= 0.9418945601962689
LogisticRegression Accuracy= 0.9342699882804127

C:\Users\steph\Anaconda3\envs\py35\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

,classifier,accuracy,f1_score,log_loss,dataset_fraction,time_taken
0,KNeighborsClassifier,93.01,0.28,2.41,0.05,1.41
0,GaussianNB,92.43,0.26,2.61,0.05,0.23
0,DecisionTreeClassifier,91.06,0.35,3.09,0.05,0.91
0,RandomForestClassifier,94.10,0.39,2.04,0.05,1.47
0,LogisticRegression,93.42,0.00,2.27,0.05,0.62
0,KNeighborsClassifier,92.92,0.27,2.45,0.10,6.10
0,GaussianNB,92.38,0.27,2.63,0.10,0.45
0,DecisionTreeClassifier,91.75,0.38,2.85,0.10,1.92
0,RandomForestClassifier,94.05,0.40,2.06,0.10,3.70
0,LogisticRegression,93.42,0.00,2.27,0.10,0.91
0,KNeighborsClassifier,93.02,0.30,2.41,0.25,12.02
0,GaussianNB,92.51,0.27,2.59,0.25,1.01
0,DecisionTreeClassifier,91.92,0.40,2.79,0.25,4.45
0,RandomForestClassifier,93.99,0.41,2.08,0.25,8.05
0,LogisticRegression,93.43,0.00,2.27,0.25,1.95
0,KNeighborsClassifier,93.31,0.33,2.31,0.50,39.14
0,GaussianNB,92.55,0.27,2.57,0.50,2.40
0,DecisionTreeClassifier,91.99,0.41,2.77,0.50,10.29
0,RandomForestClassifier,94.07,0.42,2.05,0.50,23.16
0,LogisticRegression,93.43,0.00,2.27,0.50,4.96
0,KNeighborsClassifier,93.30,0.34,2.31,0.75,78.57
0,GaussianNB,92.59,0.26,2.56,0.75,4.15
0,DecisionTreeClassifier,92.21,0.42,2.69,0.75,26.63
0,RandomForestClassifier,94.09,0.43,2.04,0.75,51.45
0,LogisticRegression,93.43,0.00,2.27,0.75,6.65
0,KNeighborsClassifier,93.32,0.35,2.31,1.00,124.01
0,GaussianNB,92.57,0.27,2.57,1.00,4.43
0,DecisionTreeClassifier,92.27,0.42,2.67,1.00,24.66
0,RandomForestClassifier,94.19,0.44,2.01,1.00,63.60
0,LogisticRegression,93.43,0.00,2.27,1.00,7.82

In [60]:
log

,classifier,accuracy,f1_score,log_loss,dataset_fraction,time_taken
0,KNeighborsClassifier,93.01,0.28,2.41,0.05,1.41
0,GaussianNB,92.43,0.26,2.61,0.05,0.23
0,DecisionTreeClassifier,91.06,0.35,3.09,0.05,0.91
0,RandomForestClassifier,94.10,0.39,2.04,0.05,1.47
0,LogisticRegression,93.42,0.00,2.27,0.05,0.62
0,KNeighborsClassifier,92.92,0.27,2.45,0.10,6.10
0,GaussianNB,92.38,0.27,2.63,0.10,0.45
0,DecisionTreeClassifier,91.75,0.38,2.85,0.10,1.92
0,RandomForestClassifier,94.05,0.40,2.06,0.10,3.70
0,LogisticRegression,93.42,0.00,2.27,0.10,0.91
0,KNeighborsClassifier,93.02,0.30,2.41,0.25,12.02
0,GaussianNB,92.51,0.27,2.59,0.25,1.01
0,DecisionTreeClassifier,91.92,0.40,2.79,0.25,4.45
0,RandomForestClassifier,93.99,0.41,2.08,0.25,8.05
0,LogisticRegression,93.43,0.00,2.27,0.25,1.95
0,KNeighborsClassifier,93.31,0.33,2.31,0.50,39.14
0,GaussianNB,92.55,0.27,2.57,0.50,2.40
0,DecisionTreeClassifier,91.99,0.41,2.77,0.50,10.29
0,RandomForestClassifier,94.07,0.42,2.05,0.50,23.16
0,LogisticRegression,93.43,0.00,2.27,0.50,4.96
0,KNeighborsClassifier,93.30,0.34,2.31,0.75,78.57
0,GaussianNB,92.59,0.26,2.56,0.75,4.15
0,DecisionTreeClassifier,92.21,0.42,2.69,0.75,26.63
0,RandomForestClassifier,94.09,0.43,2.04,0.75,51.45
0,LogisticRegression,93.43,0.00,2.27,0.75,6.65
0,KNeighborsClassifier,93.32,0.35,2.31,1.00,124.01
0,GaussianNB,92.57,0.27,2.57,1.00,4.43
0,DecisionTreeClassifier,92.27,0.42,2.67,1.00,24.66
0,RandomForestClassifier,94.19,0.44,2.01,1.00,63.60
0,LogisticRegression,93.43,0.00,2.27,1.00,7.82

In [48]:
importances = model.feature_importances_
indices = np.argsort(importances)[::-1]

In [49]:
np.set_printoptions(suppress=True)
print(importances)

[0.104 0.278 0.055 0.131 0.084 0.129 0.103 0.002 0.007 0.009 0.005 0.001
 0.003 0.003 0.003 0.003 0.004 0.01  0.005 0.007 0.001 0.002 0.003 0.
 0.    0.002 0.006 0.005 0.023 0.01  0.001]

In [57]:
# Print the feature ranking
print("Feature ranking:")

for f in range(X_train.shape[1]):
    print("%s. feature %d (%f)" % (str(X_train.columns[f]), indices[f], importances[indices[f]]))

Feature ranking:
bd. feature 1 (0.277552)
registration_init_time. feature 3 (0.130924)
is_cancel_sum. feature 5 (0.129483)
plan_list_price. feature 0 (0.104260)
msno_count. feature 6 (0.102976)
actual_amount_paid_sum. feature 4 (0.084108)
actual_amount_paid_mean. feature 2 (0.055385)
ohe_city_3.0. feature 28 (0.022895)
ohe_city_4.0. feature 29 (0.009934)
ohe_city_5.0. feature 17 (0.009699)
ohe_city_6.0. feature 9 (0.008916)
ohe_city_7.0. feature 8 (0.007482)
ohe_city_8.0. feature 19 (0.006640)
ohe_city_9.0. feature 26 (0.005936)
ohe_city_10.0. feature 27 (0.005457)
ohe_city_11.0. feature 10 (0.005238)
ohe_city_12.0. feature 18 (0.004686)
ohe_city_13.0. feature 16 (0.003666)
ohe_city_14.0. feature 13 (0.003287)
ohe_city_15.0. feature 12 (0.003041)
ohe_city_16.0. feature 22 (0.002897)
ohe_city_17.0. feature 15 (0.002809)
ohe_city_18.0. feature 14 (0.002706)
ohe_city_19.0. feature 25 (0.002364)
ohe_city_20.0. feature 7 (0.002038)
ohe_city_21.0. feature 21 (0.001996)
ohe_city_22.0. feature 30 (0.001298)
ohe_registered_via_4.0. feature 11 (0.001217)
ohe_registered_via_7.0. feature 20 (0.000537)
ohe_registered_via_9.0. feature 24 (0.000486)
ohe_registered_via_13.0. feature 23 (0.000086)

In [10]:
#test_input = load_train_dataset()
#test_input.to_hdf('C:/Work/kaggle/wsdm-churn/test_input.h5', key='test_input', mode='w', format='table')

test_input = pd.read_hdf('C:/Work/kaggle/wsdm-churn/test_input.h5', 'test_input')
test_input.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,cancel_times,plan_net_worth,total_order,total_actual_payment,mean_payment_each_transaction
0,4n+fXlyJvfQnTeKXTWT507Ll4JVYGrOC8LHCfwBmPE4=,0,1.00,0.00,NaN,7.00,20150718.00,0,99.00,1,99.00,99.00
1,aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=,0,4.00,28.00,male,9.00,20051030.00,0,149.00,1,149.00,149.00
2,rFC9eSG/tMuzpre6cwcMLZHEYM89xY02qcz7HL4//jc=,0,4.00,34.00,male,7.00,20141101.00,0,99.00,1,99.00,99.00
3,WZ59dLyrQcE7ft06MZ5dj40BnlYQY7PHgg/54+HaCSE=,0,nan,nan,NaN,nan,nan,0,99.00,1,99.00,99.00
4,aky/Iv8hMp1/V/yQHLtaVuEmmAxkB5GuasQZePJ7NU4=,0,1.00,0.00,NaN,13.00,20161222.00,0,129.00,1,129.00,129.00

In [13]:
test_input.shape

(907471, 12)

In [32]:
%%time

X_test = sample.iloc[:, 1:].dropna()
y_test = sample.iloc[:, 0].dropna()

name = model.__class__.__name__

train_predictions = model.predict(X_test)

acc = accuracy_score(y_test, train_predictions)
f1 = f1_score(y_test, train_predictions)
lg_loss = log_loss(y_test, train_predictions)

print("{0} Accuracy={1}; F1 Score={2}; Log Loss={3}".format(name, acc, f1, lg_loss))

RandomForestClassifier Accuracy=0.9777988305453617; F1 Score=0.8135710046142949; Log Loss=0.7668051572961097
Wall time: 17.4 s

In [7]:
def load_train_dataset():
    ## First the dataset indicating whether the customer churned or not.
    train_input   = pd.read_csv('C:/Work/kaggle/wsdm-churn/train.csv', 
                                dtype={'is_churn' : bool, 'msno' : str})

    ## Some basic data about the member 
    members_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/members_v3.csv',
                                dtype={'registered_via' : np.uint8,
                                       'gender' : 'category'})

    train_input = pd.merge(left = train_input, right = members_input, how = 'left', on=['msno'])

    del members_input

    ## Next load in the transactions data
    transactions_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/transactions.csv',
                                     dtype = {'payment_method' : 'category',
                                              'payment_plan_days' : np.uint8,
                                              'plan_list_price' : np.uint8,
                                              'actual_amount_paid': np.uint8,
                                              'is_auto_renew' : np.bool,
                                              'is_cancel' : np.bool})

    transactions_input = pd.merge(left = train_input, right = transactions_input, how='left', on='msno')
    grouped  = transactions_input.copy().groupby('msno')


    shuffle = grouped.agg({'msno' :{'msno_count': 'count'},
                           'plan_list_price' :{'plan_list_price':'sum'},
                           'actual_amount_paid' : {'actual_amount_paid_mean' : 'mean',
                                                   'actual_amount_paid_sum' : 'sum'},
                           'is_cancel' : {'is_cancel_sum': 'sum'}})
    
    shuffle.columns = shuffle.columns.droplevel(0)

    shuffle.reset_index(inplace=True)

    train_input = pd.merge(left = train_input,right = shuffle,how='left',on='msno')

    del transactions_input,shuffle

    return train_input

In [6]:
def load_test_dataset():
    test_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/sample_submission_v2.csv',dtype = {'msno' : str})
    members_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/members_v3.csv',dtype={'registered_via' : np.uint8,
                                                          'gender' : 'category'})

    test_input = pd.merge(left=test_input,right=members_input,how='left',on=['msno'])

    del members_input

    transactions_input = pd.read_csv('C:/Work/kaggle/wsdm-churn/transactions_v2.csv',
                                     dtype = {'payment_method' : 'category',
                                              'payment_plan_days' : np.uint8,
                                              'plan_list_price' : np.uint8,
                                              'actual_amount_paid': np.uint8,
                                              'is_auto_renew' : np.bool,
                                              'is_cancel' : np.bool})

    transactions_input = pd.merge(left = test_input, 
                                  right = transactions_input, 
                                  how='left', 
                                  on='msno')

    grouped  = transactions_input.copy().groupby('msno')

    shuffle = grouped.agg({'msno' : {'total_order' : 'count'},
                           'plan_list_price' : {'plan_net_worth' : 'sum'},
                           'actual_amount_paid' : {'mean_payment_each_transaction' : 'mean',
                                                   'total_actual_payment' : 'sum'},
                           'is_cancel' : {'cancel_times' : lambda x : sum(x==1)}})

    shuffle.columns = shuffle.columns.droplevel(0)
    shuffle.reset_index(inplace=True)
    test_input = pd.merge(left = test_input,right = shuffle,how='left',on='msno')
    del transactions_input

    return test_input

In [5]:
def OHE(df, col = ['city','registered_via']):
   
    print('Categorical columns in dataset',col)
    
    c2,c3 = [],{}
    for c in col:
        if df[c].nunique()>2 :
            c2.append(c)
            c3[c] = 'ohe_'+c
    
    df = pd.get_dummies(df,columns=c2,drop_first=True,prefix=c3)
    print(df.shape)
    return df